body {
    font-family: Arial, sans-serif;
    background-color: #dedede;
    margin: 0;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 30px;
    color: #00203f;
}

.catalogo {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    width: 200px;
    text-align: center;
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.foto-produto {
    font-size: 50px;
    margin-bottom: 15px;
    flex-direction: column;
    display: flex;
}

.foto-produto:hover {
    transform: scale(1.1);
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-top: auto;
    background-color: #0c7a39;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}  

button:hover {
    background-color: #219150;
}

@media (max-width: 768px) {
    .card {
        width: 40%;
    }
}

@media (max-width: 480px) {
    .card {
        width: 90%;
    }
    header h1 {
        font-size: 1.5rem;
    }
}